<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppLogin</title>
    
    {% load bootstrap4 %}

    {# CSS Bootstrap #}
    {% bootstrap_css %}

  

    

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: darkcyan;">
        <a class="navbar-brand" href="/">AppNotas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
           
         

             
             
             
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;
            &nbsp;

            <a class="nav-item nav-link text-white " href="">Iniciar sesion </a>
           
            <a class="nav-item nav-link text-white" href="/logout">Cerrar sesion</a>

            
            



            
            
            
          </div>
        </div>
    </nav>

 <br>
 <br>   
    <div class="container text-white rounded text-center " style="background-color: lightseagreen">


    
        
        <h5>Se ha actualizado el registro </h5>

</div>

   
      
  <br>
  <br>
  <div class="container-fluid" style="background-color: lightseagreen;">
    App Notas 
  </div>

    {% bootstrap_javascript jquery='full '%} 
</body>
</html>