<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AppLogin</title>

  {% load bootstrap4 %}

  {# CSS Bootstrap #}
  {% bootstrap_css %}





</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: darkcyan;">
    <a class="navbar-brand" href="">AppLogin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href=""><span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href=""> Notas </a>
        <a class="nav-item nav-link active" href=""> Agregar Nota</a>
        <a class="nav-item nav-link active" href="">Eliminar Nota</a>
        <a class="nav-item nav-link active" href="">Actualizar Nota </a>





        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;

        <a class="nav-item nav-link text-white " href="">Iniciar sesion </a>

        <a class="nav-item nav-link text-white" href="/logout">Cerrar sesion</a>









      </div>
    </div>
  </nav>

  <br>
  <br>
  <div class="container " style="background-color: lightseagreen">


    <h3>Area para miembros</h3>

    <p>Bienvenido <b> {{ request.user.username  }}</b>,
      esta pagina es exclusiva para usuarios registrados

    </p>
    <br>

  </div>

  <div class="container " style="background-color: lightseagreen;">
    <h4>Agregar nota :</h4>

    <form action="/addnota/" method="POST">
      {% csrf_token %}

      <!--Iterando todos los campos del formulario para personalizarlo-->



      {{form.titulo|as_crispy_field}}


      {{form.nota|as_crispy_field}}











      <input type="submit" value="Agregar Nota ">

    </form>

  </div>

  <div class="container " style="background-color: lightseagreen;">
    <h4>Notas </h4>
    {% if notas  %}
    <table class="table  table-white ">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Titulo</th>
          <th scope="col">Nota</th>
          <th scope="col">UsuarioNota</th>
        </tr>
      </thead>
      {% for items in notas %}
      <tbody>
        <tr>

          <th>{{items.id}}</th>
          <th> {{items.titulo}}</th>
          <th> {{items.nota}}</th>
          <th>{{items.usuarionotas_id}}</th>
        </tr>
      </tbody>

      {% endfor %}
    </table>
    {% else %}
    <p>No existen registros en la base de datos</p>
    {% endif %}



  </div>

  <br>
  <br>
  <div class="container-fluid" style="background-color: lightseagreen;">
    App Login
  </div>

  {% bootstrap_javascript jquery='full '%}
</body>

</html>

